* {
  font-family: "Ysabeau", sans-serif;
  text-align: center;
}
#meme {
  border: 10px solid black;
  background-color: black;
  color: white;
  width: 500px;
  margin: 5px auto;
}
#img-meme {
  border: 2px solid white;
}
.projects {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects > h3 {
  /* flex: 0 1 100%; */
  flex-basis: 100%;
}
.project {
  height: 200px;
  width: 300px;
  border: 10px dotted black;
  margin: 20px;
}
.project img {
  height: 10em;
  width: 10em;
  float: left;
}
/* @media (max-width: 680px) {
  .project {
    height: 100%;
    width: 200px;
  }
  .project img {
    object-fit: contain;
    float: none;
  }
} */
/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.blue {
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7abcff),
    color-stop(44%, #60abf8),
    color-stop(100%, #4096ee)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* IE10+ */
  background: linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* W3C */
}
